{{ template "base" . }}


{{ define "main" }}

{{ $data := index .Data "task" }}

{{  with $data }}

<section class="container mx-auto p-3">
    <div class="row">
        <div class="col-12 col-md-9 mx-auto p-3">
            <table>
                <form action="/admin/update/{{ .Id }}" method="POST">
                    <div class="form-control">
                        <strong>ID: </strong> <span>{{.Id }}</span>
                    </div>
                    <div class="form-control">
                        <label for="status">
                            <strong>Status: </strong>  <input type="checkbox" name="status" id="task_status" {{ if .IsComplete }} checked {{ else}} {{ end }}>
                        </label>
                    </div>
                    <div class="form-control">
                        <label for="title">
                          <strong>Title: </strong> <input type="text" name="title" id="task_id" value="{{ .Title }}">
                        </label>
                    </div>
                    
                    <div class="form-control body">
                        <label for="body">
                          <strong>Body: </strong>  <textarea name="body" id="task_body" cols="30" rows="10"placeholder="{{ .Body }}">{{ .Body }}</textarea>
                        </label>
                    </div>
                    <div class="form-control">
                        <strong>Created At: </strong> <span>{{ .CreatedAt | humanDate }}</span>
                    </div>
                    <div class="form-control">
                        <strong>Updated At: </strong> <span>{{ .UpdatedAt | humanDate }}</span>
                    </div>
                    <div class="form-control">
                        <input type="submit" value="SUBMIT">
                    </div>
                    </form>
        </div>
    </div>
</section>

{{ end }}

{{ end }}