{{ template "base" . }}


{{ define "main" }}

<div class="custom-modal mx-auto p-3 text-center d-none" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <header>
        <div class="row">
            <div class="col-12 text-center p-3">
                <p class="message">Message</p>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-12 text-center">
            <button id="yes" type="submit">Yes</button>
            <button id="no" type="reset">No</button>
        </div>
    </div>

</div>

{{ with index .Data "userTasks" }}

<section class="tasks container mx-auto p-3">

    <div class="row">
        <div class="col-12 mx-auto p-3">
            <ul class="list-group">
                {{  range $i, $v := . }}

                    <li class="list-group-item p-3 mb-3">
                        <table>
                            <tr>
                                <th class=" me-2 p-2">ID</th>
                                <th class=" me-2 p-2">Complete</th>
                                <th class=" me-2 p-2">Title</th>
                                <th class=" me-2 p-2">Body</th>
                                <th class=" me-2 p-2">User ID</th>
                                <th class=" me-2 p-2">Comment ID</th>
                                <th class=" me-2 p-2">Created At</th>
                                <th class=" me-2 p-2">Updated At</th>
                                <th class="me-2 p-2">Update</th>
                                <th class="me-2 p-2">Delete</th>

                            </tr>
                            <tr class="">
                                <td class="me-2 p-2">{{$v.Id }}</td>
                                <td class="me-2 p-2">{{ $v.IsComplete }}</td>
                                <td class="me-2 p-2"><a href="/tasks/{{ $i }}">{{ .Title }}</a></td>
                                <td class="me-2 p-2">{{ $v.Body }}</td>
                                <td class="me-2 p-2">{{ $v.UserId }}</td>
                                <td class="me-2 p-2">{{ $v.CommentId}}</td>
                                <td class="me-2 p-2">{{ $v.CreatedAt | humanDate }}</td>
                                <td class="me-2 p-2"> {{ $v.UpdatedAt | humanDate }}</td>
                                <td class="me-2 p-2 ms-auto">
                                    <form action="/admin/{{$v.Id}}" method="put">
                                        <input type="submit" value="EDIT" name="id" class="btn btn-info">
                                    </form>
                                <td class="me-2 p-2 ms-auto">
                                <form action="/admin/{{$v.Id}}" method="delete">
                                    <input type="string" name="method" value="delete" hidden>
                                    <input type="number" name="id" id="task_id" value="{{ $v.Id}}" hidden>
                                    <input type="submit" value="DELETE" name="id" class="btn btn-danger">
                                </form>
                            </td>
                            </tr>
                        </table>
                    </li>

                {{ end }}
            </ul>
        </div>
    </div>

</section>

<script>
    const modal = document.querySelector(".custom-modal")
    const deleteButton = document.getElementById("delete")
    const putButton = document.getElementById("put")




    // deleteButton.addEventListener("click", async (e) => {
    //     e.preventDefault()
    //
    //     const id = e.target.getAttribute("data-id")
    //
    //     const request = await fetch(`/admin/${id}`, {
    //         method: "delete",
    //     })
    //
    //     const response = await request.status
    //
    //
    // })



</script>


{{ end }}

{{ end }}