{{ template "base" . }}

{{ define "title" }}
    {{ index .Data "userTasks" 0 }}
{{ end }}

{{ define "main" }}

<section class="container mx-auto p-3 options">
    <button class="btn btn-secondary" id="filterStatus">Filter By Incomplete </button>
    <button class="btn btn-secondary" id="filterReset">Reset Filter</button>
</section>

{{ with index .Data "userTasks" }}

<section class="tasks container mx-auto p-3">

    <div class="row">
        <div class="col-12 mx-auto p-3">
            <ul class="list-group">
                {{  range $i, $v := . }}

                    <li class="list-group-item p-3 mb-3 task-item{{ if (eq $v.IsComplete true )}} is-complete {{else}} not-complete {{ end }}">
                        <table>
                            <tr>
                                <th class=" me-2 p-2">ID</th>
                                <th class=" me-2 p-2">Complete</th>
                                <th class=" me-2 p-2">Title</th>
                                <th class=" me-2 p-2">Body</th>
                                <th class=" me-2 p-2">User ID</th>
                                <th class=" me-2 p-2">Comment ID</th>
                                <th class=" me-2 p-2">Created At</th>
                                <th class=" me-2 p-2">Updated At</th>
                                <th class="me-2 p-2">Update</th>
                                <th class="me-2 p-2">Delete</th>

                            </tr>
                            <tr>
                                <td class="me-2 p-2">{{$v.Id }}</td>
                                <td class="me-2 p-2">{{ $v.IsComplete }}</td>
                                <td class="me-2 p-2"><a href="/tasks/{{ $i }}">{{ .Title }}</a></td>
                                <td class="me-2 p-2">{{ $v.Body }}</td>
                                <td class="me-2 p-2">{{ $v.UserId }}</td>
                                <td class="me-2 p-2">{{ $v.CommentId}}</td>
                                <td class="me-2 p-2">{{ $v.CreatedAt | humanDate }}</td>
                                <td class="me-2 p-2"> {{ $v.UpdatedAt | humanDate }}</td>
                                <td class="me-2 p-2 ms-auto">
                                    <a href="/admin/{{$v.Id}}" class="btn btn-info">EDIT</a>
                                       
                                    </td>
                                <td class="me-2 p-2 ms-auto">
                                <form action="/admin/{{$v.Id}}" method="delete">
                                    <input type="string" name="_method" value="delete" hidden>
                                    <input type="number" name="id" id="task_id" value="{{ $v.Id}}" hidden>
                                    <input type="submit" value="DELETE" name="id" class="btn btn-danger">
                                </form>
                            </td>
                            </tr>
                        </table>
                    </li>

                {{ end }}
            </ul>
        </div>
    </div>

</section>

<script>
    const modal = document.querySelector(".custom-modal")
    const deleteButton = document.getElementById("delete")
    const putButton = document.getElementById("put")
    const filterStatusBtn = document.getElementById("filterStatus")
    const filterResetBtn = document.getElementById("filterReset")
    const taskList = document.querySelectorAll(".task-item")
    let toggled = false


    filterResetBtn.addEventListener("pointerdown", () => {
        return resetTasks(taskList)
    })


    function removeStatusCompleted(e) {

        console.log("toggled: ", toggled)

        resetTasks(taskList)



        if (toggled) {
            const statusNotComplete = document.querySelectorAll('.not-complete')
            for (const task of statusNotComplete) {
                task.classList.add('d-none')
            }
            changeButton(e)
            toggled = false
            return
        }

        if (!toggled) {
            const statusComplete = document.querySelectorAll('.is-complete')
            for (const task of statusComplete) {
                task.classList.add('d-none')
            }
            changeButton(e)
            toggled = true
            return
        }

    }

    function changeButton(e) {
        toggled ? e.target.innerText = "Filter By Complete" : e.target.innerText = "Filter By Incomplete"
    }

    filterStatusBtn.addEventListener('pointerdown', (e) => {
        e.preventDefault()
        removeStatusCompleted(e)
    })


    function resetTasks(tasks) {
        tasks.forEach((task) => {
            task.classList.contains("d-none") ? task.classList.remove("d-none") : ""
        })
    }




</script>


{{ end }}

{{ end }}